body {
    background-color: rgb(247, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #302f2f;
}

h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
    text-transform: capitalize;
    padding: 30px 0;
}

h2 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 30px 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0;
}

p {
    line-height: 30px;
    margin-bottom: 20px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
}

header div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    min-width: 500px;
    width: 60%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    background-color: rgb(114, 206, 242);
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: white;
}

nav ul li a:hover {
    background-color: cornflowerblue;
}

nav ul li a:active {
    text-decoration: underline;
}

nav ul li a:visited {
    color: rgb(72, 2, 102)
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 30px;
}

footer p {
    line-height: 40px;
}