.button {
    display: block;
    width: 100px;
    border: 2px solid cornflowerblue;
    margin: 40px auto 80px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    color: cornflowerblue;
}

.button:hover {
    color: white;
    background-color: cornflowerblue;
}

.button:active {
    text-decoration: underline;
}

.button:visited {
    color: rgb(72, 2, 102);
}

section,
article {
    clear: both;
    margin: 40px 0;
}

#intro .wrapper {
    border-top: 10px solid rgb(114, 206, 242);
    border-bottom: 10px solid rgb(114, 206, 242);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 400px;
}

#intro img {
    height: 400px;
    width: auto;
}

#intro .content {
    width: 60%;
    padding: 0 30px;
}

#intro h3 {
    padding-bottom: 30px;
}

article img {
    height: 300px;
    width: auto;

}

article .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

article .image {
    text-align: center;
}

article .content {
    width: 50%;
    min-width: 300px;
    border-bottom: 5px solid rgb(114, 206, 242);
    margin: 30px 0;
    padding: 20px;
}

article .content h4 {
    padding-bottom: 20px;
}

#video .wrapper {
    text-align: center;
    border-bottom: 5px solid rgb(114, 206, 242);
}

video {
    width: 61.8%;
    height: auto;
}