body {
    background-color: rgb(247, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #302f2f;
}

h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 60px;
    text-transform: capitalize;
    padding: 30px 0;
}

h2 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 30px 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0;
}

p {
    line-height: 30px;
    margin-bottom: 20px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1280px;
}

header div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    max-width: 700px;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    background-color: rgb(114, 206, 242);
    width: 100%;
}


nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: white;
}

nav ul li a:hover {
    background-color: cornflowerblue;
}

nav ul li a:active {
    text-decoration: underline;
}

nav ul li a:visited {
    color: rgb(72, 2, 102)
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 30px;
}

footer p {
    line-height: 40px;
}

section {
    clear: both
}

#intro .wrapper {
    background-image: url('../images/gallery_background.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(114, 206, 242);
    border-radius: 20px;
    margin: 30px auto;
}

#intro,
#end h2 {
    padding: 80px 0;
    line-height: 100px;
}

section .wrapper {
    border-top: 10px solid rgb(114, 206, 242);
    padding: 30px;
}

section img:hover {
    transform: scale(1.2);
}


.long {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    margin: 40px auto;
}

.square {
    width: 80%;
    min-width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;

}

.long img {
    height: 200px;
    width: auto;
    margin: 10px auto;
    border-radius: 4px;
}

.square img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.gathered {
    width: 80%;
    min-width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.gathered img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#item3 {
    grid-row: 2 / span 2;
    margin: 30px 0;
}

#end .wrapper {
    background-image: url('../images/galleryend.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(114, 206, 242);
    border-radius: 20px;
    margin: 30px auto;
}