section {
    clear: both
}

#intro .wrapper {
    background-image: url('../images/gallery_background.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(114, 206, 242);
    border-radius: 20px;
    margin: 30px auto;
}

#intro,
#end h2 {
    padding: 80px 0;
    line-height: 100px;
}

section .wrapper {
    border-top: 10px solid rgb(114, 206, 242);
    padding: 30px;
}

section img:hover {
    transform: scale(1.2);
}


.long {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    margin: 40px auto;
}

.square {
    width: 80%;
    min-width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;

}

.long img {
    height: 170px;
    width: auto;
    margin: 10px auto;
    border-radius: 4px;
}

.square img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.gathered {
    width: 80%;
    min-width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.gathered img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#item3 {
    grid-row: 2 / span 2;
    margin: 30px 0;
}

#end .wrapper {
    background-image: url('../images/galleryend.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(114, 206, 242);
    border-radius: 20px;
    margin: 30px auto;
}