#hero .wrapper {
    background-image: url("../images/indexheading.jpg");
    background-size: 100% 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#hero h2 {
    padding: 150px 0;
    color: white
}

audio {
    display: block;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid rgb(114, 206, 242);
    border-collapse: collapse;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;

}

table {
    width: 61.8%;
    margin: 20px auto;
    border-radius: 4px;

}

th {
    background-color: rgb(114, 206, 242);
}

article {
    clear: both;
    margin: 100px 0;
}

article h3 {
    max-width: 480px;
    margin: 80px auto;
    background-color: rgb(114, 206, 242);
    border-radius: 4px;
    padding: 30px 40px;
    color: white
}

article ul img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 30px;
    border-radius: 20px;
}

article ul {
    display: flex;
    justify-content: center;
    line-height: 30px;
    text-align: center;
}

article ul li {
    flex: 1;
    padding: 20px;

}

.button {
    display: block;
    width: 100px;
    border: 2px solid cornflowerblue;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    color: cornflowerblue;
}

.button:hover {
    color: white;
    background-color: cornflowerblue;
}

.button:active {
    text-decoration: underline;
}

.button:visited {
    color: rgb(72, 2, 102);
}